.featured-post {
    height: 400px;
    margin: 22px 10px 0px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  article h2 {
    margin: 0;
    padding: 0;
    opacity: 1;
    text-align: right;
  }
  article h2 span {
    display: inline-block;
    color: black;
    font-weight: bold;
    font: 16px "Times New Roman", serif;
    letter-spacing: .3px;
    background: white;
    padding: 0px 8px;
  }
  article h3 {
    margin: 0;
    padding: 0;
    opacity: 1;
    text-align: right;
  }
  article h3 span {
    display: inline-block;
    color: black;
    font: 14px "Times New Roman", serif;
    letter-spacing: 0px;
    background: white;
    padding: 0px 8px;
  }
  article span a {
    color: black;
  }
  .featured-post h1 {
    margin: 10px;
  }
  
  /*
    Pagination
  */
  
  .pagination {
    text-align: center;
  }
  .pagination a {
    text-decoration: none;
  }
  .pagination-button {
    color: #999;
    border: 1px solid #e0e0e0;
    padding: 15px 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  .pagination-active {
    color: black;
  }
  .pagination-active:hover {
    background-color: #e0e0e0;
  }
  